.newsletter.-large {
  margin-top: var(--grid-gutters);
}

.newsletter.-large .newsletter-submit svg {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  vertical-align: bottom;
}

.newsletter.-small {
  margin-top: calc(var(--grid-gutters) / 3);
}

.newsletter-input:focus+.newsletter-submit svg {
  fill: var(--color-base);
}

.newsletter-submit {
  padding-right: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.popupVideo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 9999;
}

.popupVideo.-visible {
  display: block;
  opacity: 1;
}

.popupVideo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .popupVideo-container {
    width: 60%;
  }
}

.popupVideo-video {
  width: 100%;
}

.popupVideo-close {
  cursor: pointer;
  position: absolute;
  right: calc(var(--grid-gutters) / 2);
  top: calc(var(--grid-gutters) / 2);
}

@media (min-width: 768px) {
  .popupVideo-close {
    right: var(--grid-gutters);
    top: var(--grid-gutters);
  }
}

.arrowPacman {
  --arrow-width: 20px;
  --arrow-spacer: 4px;
  --arrow-plus-spacer: calc(var(--arrow-width) + var(--arrow-spacer));
  overflow: hidden;
  position: absolute;
  right: -2em;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: var(--arrow-plus-spacer);
}

.arrowPacman svg {
  height: 16px;
  width: var(--arrow-width);
}

.arrowPacman svg:last-of-type {
  margin-left: var(--arrow-spacer);
}

.arrowPacman-clip {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transform: translateX(calc(var(--arrow-plus-spacer) * -1));
  transform: translateX(calc(var(--arrow-plus-spacer) * -1));
  width: calc(var(--arrow-plus-spacer) + var(--arrow-width));
}

@-webkit-keyframes pacman {
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes pacman {
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.aboutColumns {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
  grid-gap: 10px;
  margin-bottom: var(--grid-gutters);
  margin-top: var(--grid-gutters);
}

@media (min-width: 960px) {
  .aboutColumns {
    grid-gap: 20px;
  }
}

@media (min-width: 960px) {
  .aboutColumns {
    margin-bottom: calc(var(--grid-gutters) * 2);
  }
}

.aboutColumns-content {
  grid-column: 1/-1;
  padding-bottom: var(--grid-gutters);
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

@media (min-width: 768px) {
  .aboutColumns-content {
    grid-column: 1 / span 6;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (min-width: 960px) {
  .aboutColumns-content {
    grid-column: 1 / span 5;
  }
}

div.aboutColumns-image {
  grid-column: 1/-1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

div.aboutColumns-image img {
  width: 100%;
}

@media (min-width: 768px) {
  div.aboutColumns-image {
    grid-column: 8/-1;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.aboutColumns-stack {
  border-top: 2px solid var(--color-base);
  margin-top: var(--grid-gutters);
}

@media (min-width: 768px) {
  .aboutColumns-stack:first-of-type {
    margin-top: 0;
  }
}

@media (min-width: 960px) {
  .aboutColumns-stack:not(:first-of-type) {
    margin-top: calc(var(--grid-gutters) * 1.75);
  }
}

.aboutColumns-headline {
  margin-top: calc(var(--grid-gutters) / 2);
}

.aboutColumns-subheading {
  margin-bottom: 2rem;
}

.applicationsOne {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
  grid-gap: 10px;
}

@media (min-width: 960px) {
  .applicationsOne {
    grid-gap: 20px;
  }
}

.applicationsOne-content {
  grid-column: 1/-1;
  padding-bottom: var(--grid-gutters);
  padding-top: var(--grid-gutters);
}

@media (min-width: 768px) {
  .applicationsOne-content {
    grid-column: 1 / span 5;
    padding-bottom: 0;
  }
}

.applicationsOne-image {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .applicationsOne-image {
    grid-column-start: 7;
    margin-top: calc(var(--grid-gutters) * 3.5);
  }
}

@media (min-width: 1260px) {
  .applicationsOne-image {
    grid-column-end: -2;
  }
}

.applicationsOne-stack {
  border-top: 2px solid var(--color-base);
}

.applicationsOne-stack:not(:first-of-type) {
  margin-top: calc(var(--grid-gutters) / 2);
}

@media (min-width: 960px) {
  .applicationsOne-stack:not(:first-of-type) {
    margin-top: calc(var(--grid-gutters) * 1.75);
  }
}

.applicationsOne-headline {
  margin-top: var(--grid-gutters);
}

.applicationsOne-eyebrow {
  padding-top: 0.5em;
}

.applicationsOne-image-face {
  margin-top: var(--grid-gutters);
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  position: relative;
}

@media (min-width: 1120px) {
  .applicationsOne-image-face {
    margin-top: calc(var(--grid-gutters) * 2);
    max-width: 600px;
  }
}

.applicationsOne-link {
  height: auto;
  left: 50%;
  max-width: 100%;
  position: absolute;
  top: -40px;
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%);
  width: 100px;
}

@media (min-width: 768px) {
  .applicationsOne-link {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}

@media (min-width: 1120px) {
  .applicationsOne-link {
    top: -55px;
    width: 125px;
  }
}

@media (min-width: 1260px) {
  .applicationsOne-link {
    top: -65px;
    width: 150px;
  }
}

.applicationsTwo {
  margin-top: var(--grid-gutters);
}

.applicationsTwo-stack {
  border-top: 2px solid var(--color-base);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.applicationsTwo-stack .hero-figure {
  margin-bottom: 0;
}

.applicationsTwo-headline,
.applicationsTwo-subheading {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

@media (min-width: 768px) {

  .applicationsTwo-headline,
  .applicationsTwo-subheading {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

.applicationsTwo-eyebrow {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-bottom: var(--grid-gutters);
  padding-top: 0.5em;
}

.icon-brain {
  height: 40px;
  width: 40px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.icon-brain image {
  opacity: 0;
  -webkit-transition: opacity var(--transition-long);
  transition: opacity var(--transition-long);
}

.applicationsTwo-items {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .applicationsTwo-items {
    height: initial;
    left: initial;
    overflow: initial;
    position: initial;
    top: initial;
    width: auto;
  }
}

.applicationsTwo-item {
  cursor: default;
  margin-top: calc(var(--grid-gutters) / 2);
  opacity: 0.5;
  -webkit-transition: opacity var(--transition-long);
  transition: opacity var(--transition-long);
}

@media (min-width: 768px) {
  .applicationsTwo-item {
    width: 45%;
  }

  .applicationsTwo-item:hover {
    opacity: 1;
  }

  .applicationsTwo-item:hover .icon-brain image {
    opacity: 1;
  }
}

@media (min-width: 1120px) {
  .applicationsTwo-item {
    margin-right: 5%;
    width: 20%;
  }
}

.applicationsTwo-item.-active {
  opacity: 1;
}

.applicationsTwo-item.-active .icon-brain image {
  opacity: 1;
}

.applicationsTwo-items-accordion {
  margin-top: var(--grid-gutters);
}

@media (min-width: 768px) {
  .applicationsTwo-items-accordion {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
  }
}

.applicationsTwo-items-accordion .accordion-icon {
  top: calc(var(--grid-gutters) / 2 - 4px);
}

.applicationsTwo-items-accordion .accordion-item {
  border: none;
  opacity: 0.5;
  -webkit-transition: all var(--transition-long);
  transition: all var(--transition-long);
}

@media (min-width: 768px) {
  .applicationsTwo-items-accordion .accordion-item:hover {
    opacity: 1;
  }

  .applicationsTwo-items-accordion .accordion-item:hover .icon-brain image {
    opacity: 1;
  }
}

.applicationsTwo-items-accordion .accordion-item.-active {
  opacity: 1;
}

.applicationsTwo-items-accordion .accordion-item.-active .icon-brain image {
  opacity: 1;
}

.applicationsTwo-items-accordion .accordion-headline {
  color: var(--color-type-dark);
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.applicationsTwo-brains {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: var(--grid-gutters);
}

.applicationsTwo-brains svg {
  width: 100%;
}

.applicationsTwo-brains svg image {
  opacity: 0;
  -webkit-transition: opacity var(--transition-medium);
  transition: opacity var(--transition-medium);
}

.applicationsTwo-brains svg image.-active {
  opacity: 1;
}

.applicationsTwo-brain-left,
.applicationsTwo-brain-right {
  width: 50%;
}

.applicationsTwo-brain-side,
.applicationsTwo-brain-top {
  position: relative;
}

.applicationsTwo-brain-side::after,
.applicationsTwo-brain-top::after {
  font-family: var(--font-tertiary);
  font-weight: var(--font-tertiary-weight-medium);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  content: "";
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

@media (min-width: 768px) {

  .applicationsTwo-brain-side::after,
  .applicationsTwo-brain-top::after {
    bottom: calc(var(--grid-gutters) / 3);
    left: auto;
    right: calc(var(--grid-gutters) / 4);
    top: auto;
  }
}

@media (min-width: 1120px) {

  .applicationsTwo-brain-side::after,
  .applicationsTwo-brain-top::after {
    bottom: calc(var(--grid-gutters) / 2);
    right: calc(var(--grid-gutters) / 3);
  }
}

@media (min-width: 1440px) {

  .applicationsTwo-brain-side::after,
  .applicationsTwo-brain-top::after {
    bottom: var(--grid-gutters);
    right: calc(var(--grid-gutters) / 2);
  }
}

.applicationsTwo-brain-top::after {
  content: "Fig. 1";
}

@media (min-width: 1120px) {
  .applicationsTwo-brain-top::after {
    right: var(--grid-gutters);
  }
}

.applicationsTwo-brain-side::after {
  content: "Fig. 2";
}

.applicationsTwoItems-headline {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .applicationsTwoItems-stack {
    margin-top: 15px;
  }
}

.applicationsThree {
  margin-top: var(--grid-gutters);
  padding-bottom: var(--grid-gutters);
}

@media (min-width: 960px) {
  .applicationsThree {
    margin-top: calc(var(--grid-gutters) * 1.5);
    padding-bottom: calc(var(--grid-gutters) * 1.5);
  }
}

.applicationsThree-content {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
  grid-gap: 10px;
  border-top: 2px solid var(--color-base);
  padding-top: var(--grid-gutters);
}

@media (min-width: 960px) {
  .applicationsThree-content {
    grid-gap: 20px;
  }
}

.applicationsThree-text {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .applicationsThree-text {
    grid-column: 1 / span 6;
  }
}

.applicationsThree-images {
  display: none;
  grid-column: 8/-1;
}

@media (min-width: 768px) {
  .applicationsThree-images {
    display: block;
  }
}

.approach-content {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
  grid-gap: 10px;
  border-top: 2px solid var(--color-base);
}

@media (min-width: 960px) {
  .approach-content {
    grid-gap: 20px;
  }
}

.approach-content> :first-of-type {
  padding-top: 0.25em;
}

.approachOne {
  margin-top: var(--grid-gutters);
}

.approachOne-stack {
  grid-column: 1/-1;
}

@media (min-width: 960px) {
  .approachOne-stack {
    grid-column: 1 / span 4;
  }
}

.approachOne-headline {
  margin-top: var(--grid-gutters);
}

.approachOne-face {
  grid-column: 1/-1;
  margin-top: calc(var(--grid-gutters) * 1.5);
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  position: relative;
}

@media (min-width: 960px) {
  .approachOne-face {
    grid-column-start: 6;
    max-width: 600px;
  }
}

@media (min-width: 1440px) {
  .approachOne-face {
    margin-top: calc(var(--grid-gutters) * 2);
  }
}

.approachOne-link {
  height: auto;
  left: 50%;
  max-width: 100%;
  position: absolute;
  top: -60px;
  -webkit-transform: translateX(-75%);
  transform: translateX(-75%);
  width: 115px;
}

@media (min-width: 1120px) {
  .approachOne-link {
    top: -70px;
    width: 140px;
  }
}

@media (min-width: 1440px) {
  .approachOne-link {
    top: -85px;
    width: 170px;
  }
}

.approachLink {
  margin-top: var(--grid-gutters);
  background-color: var(--color-bg-light);
  padding-bottom: var(--grid-gutters);
}

.approachLink-stack {
  grid-column: 1/-1;
}

.approachLink-images {
  grid-column: 1 / span 12;
  margin-top: var(--grid-gutters);
}

@media (min-width: 768px) {
  .approachLink-images {
    grid-column: 1 / span 5;
  }
}

.approachLink-images>img:not(:first-of-type) {
  margin-top: calc(var(--grid-gutters) / 3);
}

.approachLink-border {
  background-color: var(--color-gray);
  margin-left: auto;
  margin-right: 0;
  width: 1px;
}

.approachLink-items {
  align-self: center;
  grid-column: 1 / span 12;
}

@media (min-width: 768px) {
  .approachLink-items {
    grid-column: 7/-1;
  }
}

.approachLink-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: calc(var(--grid-gutters) / 2);
}

@media (min-width: 768px) {
  .approachLink-item {
    margin-top: 0;
  }
}

.approachLink-item:nth-of-type(1) .approachLinkItem-headline::after,
.approachLink-item:nth-of-type(1) .approachLinkItem-headline::before {
  --border-width: 120px;
}

.approachLink-item:nth-of-type(2) .approachLinkItem-headline::after,
.approachLink-item:nth-of-type(2) .approachLinkItem-headline::before {
  --border-width: 40px;
}

.approachLink-item:nth-of-type(3) .approachLinkItem-headline::after,
.approachLink-item:nth-of-type(3) .approachLinkItem-headline::before {
  --border-width: 50px;
}

.approachLinkItem-headline {
  position: relative;
  margin-bottom: 15px;
}

@media (min-width: 1440px) {

  .approachLinkItem-headline::after,
  .approachLinkItem-headline::before {
    --border-x-offset: 0.5em;
    content: "";
    background-color: var(--color-black);
    position: absolute;
  }

  .approachLinkItem-headline::before {
    height: 1px;
    right: calc(100% + var(--border-x-offset));
    top: 0.65em;
    width: var(--border-width);
  }

  .approachLinkItem-headline::after {
    border-radius: 50%;
    height: 7px;
    right: calc(100% + var(--border-x-offset) + var(--border-width));
    top: 0.5em;
    width: 7px;
  }
}

.approachLinkItem-image {
  width: 280px;
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%);
}

@media (min-width: 768px) {
  .approachLinkItem-image {
    width: 300px;
    -webkit-transform: none;
    transform: none;
    margin-left: -5rem;
  }
}

@media (min-width: 960px) {
  .approachLinkItem-image {
    width: 350px;
  }
}

@media (min-width: 1440px) {
  .approachLinkItem-image {
    width: 450px;
  }
}

.approachLinkItem-stack {
  margin-left: -6rem;
  z-index: 10;
}

@media (min-width: 768px) {
  .approachLinkItem-stack {
    margin-left: -1rem;
  }
}

.approachTwo {
  padding-bottom: 62vw;
  position: relative;
}

@media (max-width: 767px) {
  .approachTwo {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--layout-max-width);
    padding-left: calc(var(--grid-gutters) / 2);
    padding-right: calc(var(--grid-gutters) / 2);
    width: 100%;
  }
}

@media (max-width: 767px) and (min-width: 960px) {
  .approachTwo {
    padding-left: var(--grid-gutters);
    padding-right: var(--grid-gutters);
  }
}

@media (max-width: 767px) {
  .approachTwo .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .approachTwo {
    padding-bottom: 32vw;
  }
}

.approachTwo-stack {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .approachTwo-stack {
    grid-column: 1 / span 8;
  }
}

@media (min-width: 960px) {
  .approachTwo-stack {
    grid-column: 1 / span 6;
  }
}

@media (min-width: 1120px) {
  .approachTwo-stack {
    grid-column: 1 / span 5;
  }
}

.approachTwo-headline {
  margin-top: var(--grid-gutters);
}

.approachTwo-image {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.approachThree {
  padding-top: var(--grid-gutters);
  background-color: var(--color-bg-light);
}

.approachThree-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column: 1/-1;
  height: 100%;
}

@media (min-width: 768px) {
  .approachThree-left {
    grid-column: 1 / span 6;
  }
}

@media (min-width: 960px) {
  .approachThree-left {
    grid-column: 1 / span 6;
  }
}

@media (min-width: 1120px) {
  .approachThree-left {
    grid-column: 1 / span 4;
  }
}

.approachThree-stack {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.approachThree-videos {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .approachThree-videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 8/-1;
    margin-top: calc(var(--grid-gutters) * 1.5);
  }
}

@media (min-width: 1120px) {
  .approachThree-videos {
    grid-column: 6/-1;
  }
}

.approachThree-video {
  max-width: 350px;
}

@media (min-width: 1120px) {
  .approachThree-video {
    max-width: 48%;
  }
}

.approachThree-video._mobile-only {
  margin: var(--grid-gutters) auto 0;
  width: 100%;
}

.approachThree-video:nth-of-type(2) {
  display: none;
}

@media (min-width: 1120px) {
  .approachThree-video:nth-of-type(2) {
    display: block;
  }
}

.approachThree-eyebrow {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.approachThree-headline {
  margin-top: var(--grid-gutters);
}

.approachThree-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: var(--grid-gutters);
}

@media (min-width: 768px) {
  .approachThree-items {
    margin-top: calc(var(--grid-gutters) * 2);
  }
}

.approachThree-item {
  margin-top: calc(var(--grid-gutters) / 2);
}

@media (min-width: 768px) {
  .approachThree-item {
    margin-top: 0;
    max-width: 45%;
  }
}

.approachThreeItems-headline {
  margin-bottom: 15px;
}

.approachThreeItems-subheading {
  margin-bottom: 15px;
}

.approachThreeItems-subheading br {
  display: none;
}

.approachThreeItems-image {
  height: 30px;
  margin-bottom: 15px;
}

.globalFooter {
  padding-left: calc(var(--grid-gutters) / 2);
  padding-right: calc(var(--grid-gutters) / 2);
}

@media (min-width: 768px) {
  .globalFooter {
    padding-left: var(--grid-gutters);
    padding-right: var(--grid-gutters);
  }
}

.globalFooter.-top-border .globalFooter-content {
  border-top: 2px solid var(--color-type-light);
}

.globalFooter-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: calc(var(--grid-gutters) / 2);
  padding-top: calc(var(--grid-gutters) / 2);
}

@media (min-width: 768px) {
  .globalFooter-content {
    display: grid;
    grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
    grid-gap: 10px;
    padding-bottom: var(--grid-gutters);
    padding-top: var(--grid-gutters);
  }
}

@media (min-width: 768px) and (min-width: 960px) {
  .globalFooter-content {
    grid-gap: 20px;
  }
}

.globalFooter-content p {
  line-height: 1.25;
}

@media (min-width: 768px) {
  .globalFooter-content p {
    line-height: 1;
    margin: unset;
  }
}

.globalFooter-logo {
  grid-column: 1 / span 1;
  margin-top: 8px;
}

.globalFooter-logo .logo svg {
  height: 32px;
  width: auto;
}

.globalFooter-copyright {
  grid-column: 7 / span 6;
}

@media (min-width: 768px) {
  .globalFooter-copyright {
    grid-column: 2 / span 3;
  }
}

@media (min-width: 960px) {
  .globalFooter-copyright {
    grid-column: 2 / span 2;
  }
}

.globalFooter-copyright>p {
  font-family: var(--font-tertiary);
  font-weight: var(--font-tertiary-weight-medium);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  color: var(--color-type-light);
}

.globalFooter-navigation {
  display: none;
}

@media (min-width: 768px) {
  .globalFooter-navigation {
    display: block;
    grid-column: 7 / span 2;
  }
}

.globalFooter-right {
  display: none;
}

@media (min-width: 768px) {
  .globalFooter-right {
    display: block;
    grid-column: 9/-1;
  }
}

.globalFooter-link {
  font-family: var(--font-tertiary);
  font-weight: var(--font-tertiary-weight-medium);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  display: block;
}

.hero {
  color: var(--color-type-white);
  position: relative;
  -webkit-transition: background-color var(--transition-fast) ease-in-out;
  transition: background-color var(--transition-fast) ease-in-out;
}

.hero.-green {
  background-color: var(--color-green);
}

.hero.-green.-highlightHover:hover {
  background-color: #bec5bf;
}

.hero.-gold {
  background-color: var(--color-gold);
}

.hero.-gold.-highlightHover:hover {
  background-color: #e3c6a6;
}

.hero.-red {
  background-color: var(--color-red);
}

.hero.-blue {
  background-color: var(--color-blue);
}

.hero.-blue.-highlightHover:hover {
  background-color: #bad8f1;
}

.hero.-lavender {
  background-color: var(--color-lavender);
}

.hero.-home {
  background-color: #b4bdcb;
  /* background-image: url(/images/pages/35f72f2dbdd1c507aa2a809fe3c22c2fad12162d/homepage-mobile.png); */
  background-position: left 71%;
  background-size: 360px;
  background-repeat: no-repeat;
}

@media (min-width: 480px) {
  .hero.-home {
    /* background-image: url(/images/pages/ce9d3440b6152b862e938619026444a5cf1c1969/homepage-tablet.png); */
    background-position: 115% 80%;
    background-size: 360px;
  }
}

@media (min-width: 640px) {
  .hero.-home {
    background-position: right 80%;
    background-size: 380px;
  }
}

@media (min-width: 960px) {
  .hero.-home {
    /* background-image: url(/images/pages/0fb99213912b0a49657930190a9c5730a8713144/homepage-desktop.png); */
    background-position: 50% 80%;
    background-size: 1260px;
  }
}

@media (min-width: 1120px) {
  .hero.-home {
    /* background-image: url(/images/pages/0fb99213912b0a49657930190a9c5730a8713144/homepage-desktop.png); */
    background-position: 85% center;
    background-size: contain;
  }
}

.hero.-home .hero-stack {
  padding-bottom: 450px;
  padding-top: 200px;
  padding-left: calc(var(--grid-gutters) / 2);
  padding-right: calc(var(--grid-gutters) / 2);
}

@media (min-width: 768px) {
  .hero.-home .hero-stack {
    padding-left: var(--grid-gutters);
    padding-right: var(--grid-gutters);
  }
}

@media (min-width: 1120px) {
  .hero.-home .hero-stack {
    padding-bottom: 250px;
  }
}

.hero.-home .hero-cta {
  border-top: 2px solid var(--color-white);
  bottom: var(--grid-gutters);
  padding-right: 3rem;
  padding-top: 1.25em;
  position: absolute;
}

@media (min-width: 640px) {
  .hero.-home .hero-cta {
    padding-right: 3rem;
  }
}

.hero.-home .hero-cta .button {
  color: var(--color-white);
}

.hero.-home .hero-cta .button+.button {
  display: block;
  margin-top: 0.5em;
}

@media (min-width: 768px) {
  .hero.-home .hero-cta .button+.button {
    margin-left: 3rem;
    margin-top: 0;
    display: inline-block;
  }
}

.hero.-footer .hero-stack {
  padding-bottom: calc(var(--grid-gutters) * 2.5);
  padding-top: 300px;
}

.hero.-footer .hero-subheading {
  max-width: 40ch;
}

.hero-stack {
  background-size: 75%;
  background-position: right 65%;
  background-repeat: no-repeat;
  padding-bottom: var(--grid-gutters);
  padding-top: calc(var(--grid-gutters) * 3);
}

@media (min-width: 768px) {
  .hero-stack {
    padding-top: calc(var(--grid-gutters) * 6);
  }
}

@media (min-width: 768px) {
  .hero-stack {
    padding-bottom: 200px;
  }
}

@media (max-width: 767px) {
  .hero-stack {
    background: 0 0 !important;
  }
}

.hero-headline,
.hero-subheading {
  color: inherit;
}

.hero-headline {
  font-family: var(--font-primary);
  font-weight: var(--font-primary-weight-medium);
  letter-spacing: -0.03em;
  margin-bottom: 0;
}

.hero-headline.-animatedLine {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
}

.hero-headline.-animatedLine::after {
  content: "";
  height: 2px;
  background-color: var(--color-white);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-animation: showLine 1.5s 1 forwards;
  animation: showLine 1.5s 1 forwards;
}

@-webkit-keyframes showLine {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes showLine {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.hero-subheading {
  max-width: 30ch;
  position: relative;
}

@media (max-width: 767px) {
  .hero-subheading {
    margin-bottom: 0 !important;
    max-width: 100% !important;
  }
}

.hero-innerImage {
  display: block;
  margin: var(--grid-gutters) auto;
}

@media (min-width: 768px) {
  .hero-innerImage {
    display: none;
  }
}

.hero-cta {
  margin-top: var(--grid-gutters);
}

@media (min-width: 960px) {
  .hero-cta {
    bottom: var(--grid-gutters);
    display: block;
    margin-top: 0;
    position: absolute;
  }
}

.hero-cta .button {
  color: var(--color-type-white);
}

.jobsCta {
  --jobsCta-scale: 2.08;
  background-color: #d5b795;

  height: calc(var(--jobsCta-scale) * 500px);
  overflow: hidden;
  padding-bottom: var(--grid-gutters);
  padding-top: var(--grid-gutters);
  position: relative;
}

@media (min-width: 640px) {
  .jobsCta {
    --jobsCta-scale: 1.25;
    background-color: #d5b795;
  }
}

@media (min-width: 1120px) {
  .jobsCta {
    --jobsCta-scale: 1.2;
  }
}

@media (min-width: 1440px) {
  .jobsCta {
    --jobsCta-scale: 1.3;
  }
}

@media (min-width: 2000px) {
  .jobsCta {
    --jobsCta-scale: 1.7;
  }
}

.jobsCta-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
  grid-gap: 10px;
  height: 100%;
  padding-left: calc(var(--grid-gutters) / 2);
  padding-right: calc(var(--grid-gutters) / 2);
}

@media (min-width: 960px) {
  .jobsCta-container {
    grid-gap: 20px;
  }
}

@media (min-width: 768px) {
  .jobsCta-container {
    padding-left: var(--grid-gutters);
    padding-right: var(--grid-gutters);
  }
}

.jobsCta-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  grid-column: 1 / span 12;
}

@media (min-width: 640px) {
  .jobsCta-stack {
    grid-column: 1 / span 6;
  }
}

@media (min-width: 960px) {
  .jobsCta-stack {
    grid-column: 1 / span 5;
  }
}

@media (min-width: 1120px) {
  .jobsCta-stack {
    grid-column: 1 / span 4;
  }
}

.jobsCta-cta,
.jobsCta-headline,
.jobsCta-subheading {
  color: var(--color-type-white) !important;
}

.jobsCta-cta .button,
.jobsCta-headline .button,
.jobsCta-subheading .button {
  color: inherit;
}

.jobsCta-headline {
  border-bottom: 1px solid var(--color-type-white);
  margin-bottom: calc(var(--grid-gutters) / 2);
  padding-bottom: calc(var(--grid-gutters) / 2);
}

@media (min-width: 768px) {
  .jobsCta-headline {
    border-bottom-width: 2px;
  }
}

.jobsCta-subheading {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 30ch;
}

.jobsCta-mobileBg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  .jobsCta-mobileBg {
    display: none;
  }
}

.jobsCta-cta {
  margin-top: 100px;
}

.learnMore {
  margin-top: var(--grid-gutters);
  padding-bottom: calc(var(--grid-gutters) * 1.5);
}

@media (min-width: 960px) {
  .learnMore {
    padding-bottom: calc(var(--grid-gutters) * 2.5);
  }
}

.learnMore-text {
  grid-column: 1/-1;
  margin-top: var(--grid-gutters);
}

.pageList {
  color: var(--color-type-white);
  counter-reset: pages;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.pageList.-alternateFont .pageList-headline {
  font-family: var(--font-primary);
  font-weight: 500;
}

.pageList.-mobile .pageList-headline::after {
  display: none;
}

.pageList-item {
  background-color: var(--component-color);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  counter-increment: pages;
  position: relative;
  width: 100%;
  z-index: 1;
}

@media (min-width: 768px) {
  .pageList-item {
    background-image: none !important;
  }
}

@media (min-width: 960px) {
  .pageList-item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    width: 50%;
  }
}

.pageList-item:hover {
  text-decoration: none;
}

.pageList-item:hover::after {
  opacity: 0.25;
}

.pageList-item::after {
  background-color: var(--color-bg-light);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity var(--transition-long) ease-in-out;
  transition: opacity var(--transition-long) ease-in-out;
  width: 100%;
  z-index: -1;
}

.pageList-item:nth-of-type(1) .pageList-image {
  max-width: 250px;
}

.pageList-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pageList-headline {
  border-bottom: 1px solid var(--color-white);
  color: var(--color-type-white);
  margin-bottom: 0;
  padding-bottom: calc(var(--grid-gutters) / 2);
  position: relative;
}

@media (min-width: 768px) {
  .pageList-headline {
    border-bottom-width: 2px;
  }
}

.pageList-headline::after {
  font-family: var(--font-tertiary);
  font-weight: var(--font-tertiary-weight-medium);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  bottom: calc(-1em - 10px);
  color: var(--color-type-white);
  content: "Fig. "counter(pages);
  position: absolute;
  left: 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .pageList-headline::after {
    right: 0;
    left: unset;
  }
}

.pageList-header {
  padding: calc(var(--grid-gutters) / 2) calc(var(--grid-gutters) / 2) 0;
}

@media (min-width: 768px) {
  .pageList-header {
    padding: var(--grid-gutters) var(--grid-gutters) 0;
  }
}

.pageList-asset {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 456px;
}

@media screen and (max-width: 800px) {
  .pageList-asset {
    height: 15px;
  }
}

.pageList-image {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(var(--grid-gutters) / 2);
  max-width: 400px;
}

@media (min-width: 768px) {
  .pageList-image {
    display: block;
    width: 100%;
  }
}

.pageList-cta {
  overflow-x: visible;
  padding: 0 calc(var(--grid-gutters) / 2) calc(var(--grid-gutters) / 2);
  margin-top: var(--grid-gutters);
}

@media (min-width: 768px) {
  .pageList-cta {
    padding: 0 var(--grid-gutters) var(--grid-gutters);
    margin-top: 0;
  }
}

.pageList-cta:hover {
  text-decoration: none !important;
}

.pageList-cta-text {
  display: inline-block;
  margin-right: 0.25em;
}


/* Industry Experts */

.page-width {
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .page-width {
    padding: 0 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .page-width {
    padding: 0 7rem;
  }
}

.industry-experts {
  background: #f7f7f7;
  padding: 2rem 0;
}

@media screen and (min-width: 992px) {
  .industry-experts {
    padding: 6rem 0 6rem;
  }
}

.industry-experts__title {
  font-size: 2.7rem;
  margin-top: 0;
  font-weight: 300;
  line-height: 1.1;
  margin: 0;
}

.industry-experts__title span {
  display: block;
  font-size: 2.8rem;
}

.industry-experts__subtitle {
  margin-bottom: 7rem;
  font-size: 2.8rem;
}

.industry__current-link {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 5rem;
  display: none;
}

@media screen and (min-width: 768px) {
  .industry__current-link {
    display: none;
  }
}

.industry-experts__list {
  margin: 0 -2rem;
}

@media screen and (min-width: 768px) {
  .industry-experts__list {
    margin: 0 auto;
    max-width: 110rem;
  }
}

.industry-experts__list:after {
  content: "flickity";
  display: none;
}

@media screen and (min-width: 768px) {
  .industry-experts__list:not(.industry-experts__list--slider) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .industry-experts__list:not(.industry-experts__list--slider):after {
    content: "";
  }
}

.industry-experts__list.industry-experts__list--slider {
  display: none;
  padding: 0 3rem;
}

@media screen and (min-width: 768px) {
  .industry-experts--desktop-slider .industry-experts__list.industry-experts__list--slider {
    display: block;
  }
}

@media screen and (min-width: 768px) {

  .industry-experts--desktop-slider .industry-experts__list:not(.industry-experts__list--slider),
  .industry-experts:not(.industry-experts--desktop-slider) .industry-experts__list .industry-experts__list--slider {
    display: none;
  }
}

.industry-experts__img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  -webkit-transform: none;
  transform: none;
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  max-height: 11.5rem;
  display: block;
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.industry-experts__expert {
  width: 50%;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .industry-experts__expert {
    padding-top: 2rem;
    width: 33.33%;
  }
}

@media screen and (min-width: 992px) {
  .industry-experts__expert {
    width: 25%;
  }
}

@media screen and (min-width: 768px) {
  .industry-experts__list:not(.industry-experts__list--slider) .industry-experts__expert {
    width: auto;
    padding: 0 2rem;
  }
}

.industry-experts__list:not(.industry-experts__list--slider) .industry-experts__expert.is-selected .industry-experts__link .industry-experts__img {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  -webkit-transform: translateY(-1.5rem);
  transform: translateY(-1.5rem);
}

.industry-experts__list:not(.industry-experts__list--slider) .industry-experts__expert.is-selected .industry-experts__link:after {
  opacity: 1;
}

.industry-experts__link {
  position: relative;
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .industry-experts__link {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .industry-experts__list--slider .industry-experts__link {
    padding: 1.5rem 0 4rem;
  }
}

.industry-experts__link:after {
  content: "";
  width: 100%;
  height: 4rem;
  /* background: transparent radial-gradient(closest-side at 50% 50%,
      #d3d3d3 0,
      hsla(0, 0%, 100%, 0) 100%) 0 0 no-repeat padding-box; */
  opacity: 0.48;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .industry-experts__list:not(.industry-experts__list--slider) .industry-experts__link:after {
    bottom: -4rem;
  }
}

html:not(.can-touch) .industry-experts__link:focus .industry-experts__img,
html:not(.can-touch) .industry-experts__link:hover .industry-experts__img {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  -webkit-transform: translateY(-1.5rem);
  transform: translateY(-1.5rem);
}

html:not(.can-touch) .industry-experts__link:focus:after,
html:not(.can-touch) .industry-experts__link:hover:after {
  opacity: 1;
}

.industry-experts__slider-nav {
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.industry-experts__slider-nav .next-btn,
.industry-experts__slider-nav .prev-btn {
  pointer-events: all;
  position: absolute;
}

.industry-experts__slider-nav .prev-btn {
  left: 0;
}

.industry-experts__slider-nav .next-btn {
  right: 0;
}

/* Awards */

.awards {
  background: #fff;
  padding: 2rem 0
}

@media screen and (min-width:992px) {
  .awards {
    padding: 6rem 0 6rem
  }
}

.awards__title {
  font-size: 2.7rem;
  margin-top: 0;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 7rem
}

.awards__title span {
  display: block;
  font-size: 2.8rem
}

.awards__current-link {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 5rem;
  display: none
}

@media screen and (min-width:768px) {
  .awards__current-link {
    display: none
  }
}

.awards__list {
  margin: 0 -2rem
}

@media screen and (min-width:768px) {
  .awards__list {
    margin: 0 auto;
    max-width: 110rem
  }
}

.awards__list:after {
  content: "flickity";
  display: none
}

@media screen and (min-width:768px) {
  .awards__list:not(.awards__list--slider) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}

@media screen and (min-width:768px) {
  .awards__list:not(.awards__list--slider):after {
    content: ""
  }
}

.awards__list.awards__list--slider {
  display: none;
  padding: 0 3rem
}

@media screen and (min-width:768px) {
  .awards--desktop-slider .awards__list.awards__list--slider {
    display: block
  }
}

@media screen and (min-width:768px) {

  .awards--desktop-slider .awards__list:not(.awards__list--slider),
  .awards:not(.awards--desktop-slider) .awards__list .awards__list--slider {
    display: none
  }
}

.awards__award {
  width: 50%;
  padding: 0 2rem
}

@media screen and (min-width:768px) {
  .awards__award {
    padding-top: 2rem;
    width: 33.33%
  }
}

@media screen and (min-width:992px) {
  .awards__award {
    width: 25%
  }
}

@media screen and (min-width:768px) {
  .awards__list:not(.awards__list--slider) .awards__award {
    width: auto;
    padding: 0 2rem
  }
}

.awards__list:not(.awards__list--slider) .awards__award.is-selected .awards__link .awards__img {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  -webkit-transform: translateY(-1.5rem);
  transform: translateY(-1.5rem)
}

.awards__list:not(.awards__list--slider) .awards__award.is-selected .awards__link:after {
  opacity: 1
}

.awards__img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .5;
  -webkit-transform: none;
  transform: none;
  display: block;
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity .2s ease-in-out, -webkit-filter .2s ease-in-out, -webkit-transform .2s ease-in-out;
  transition: opacity .2s ease-in-out, -webkit-filter .2s ease-in-out, -webkit-transform .2s ease-in-out;
  transition: filter .2s ease-in-out, opacity .2s ease-in-out, transform .2s ease-in-out;
  transition: filter .2s ease-in-out, opacity .2s ease-in-out, transform .2s ease-in-out, -webkit-filter .2s ease-in-out, -webkit-transform .2s ease-in-out
}

.awards__link {
  position: relative;
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 4rem
}

@media screen and (min-width:768px) {
  .awards__link {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
}

@media screen and (min-width:768px) {
  .awards__list--slider .awards__link {
    padding: 1.5rem 0 4rem
  }
}

.awards__link:after {
  content: "";
  width: 100%;
  height: 4rem;
  background: transparent radial-gradient(closest-side at 50% 50%, #d3d3d3 0, #f8f8f8 68%, #fff 100%) 0 0 no-repeat padding-box;
  opacity: .48;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none
}


@media screen and (min-width:768px) {
  .awards__list:not(.awards__list--slider) .awards__link:after {
    bottom: -4rem
  }
}

html:not(.can-touch) .awards__link:focus .awards__img,
html:not(.can-touch) .awards__link:hover .awards__img {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  -webkit-transform: translateY(-1.5rem);
  transform: translateY(-1.5rem)
}

html:not(.can-touch) .awards__link:focus:after,
html:not(.can-touch) .awards__link:hover:after {
  opacity: 1
}

.awards__slider-nav {
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0
}

.awards__slider-nav .next-btn,
.awards__slider-nav .prev-btn {
  pointer-events: all;
  position: absolute
}

.awards__slider-nav .prev-btn {
  left: 0
}

.awards__slider-nav .next-btn {
  right: 0
}

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: #fff;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flickity-prev-next-button:hover {
  background: #fff;
}

.flickity-prev-next-button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 5px #09f;
  box-shadow: 0 0 0 5px #09f;
}

.flickity-prev-next-button:active {
  opacity: 0.6;
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}